@font-face {
  font-family: 'Arca-Heavy';
  src: url('./Arca-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FZLTHJW';
  src: url('./FZLTHJW.TTF');
  font-weight: normal;
  font-style: normal;
}
